@import url('fonts.css');

.layout{
    max-width: 1920px;
    margin: 0 auto;
}
.header{
    padding: 13px 46px 13px 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FBFCFF;
    box-shadow: 0px 2px 8px rgba(233, 239, 248, 0.49);
    /*-webkit-box-shadow: 0px 2px 8px 0px rgba(233, 239, 248, 0.49);*/
    /*-moz-box-shadow: 0px 2px 8px 0px rgba(233, 239, 248, 0.49);*/
    /*box-shadow: 0px 2px 8px 0px rgba(233, 239, 248, 0.49);*/
}
.header__wrapper{
    display: flex;
    align-items: center;
}
.header__logo{
    margin: 0 83px 0 0;
}
.header__logo img{
    width: 36px;
}
.header__nav-item{
    text-decoration: none;
    font: 500 14px 'Monseratt';
    line-height: 19px;
    color: #172D4E;
    transition: all 0.3s;
    margin: 0 50px 0 0;
}
.header__nav-item:hover{
    color: #0061FF;
}
.header__nav-item:last-child{
    margin: 0;
}
.header__auth{
    display: flex;
    align-items: center;
}
.auth__order-btn{
    padding: 10px 20px 10px 20px;
    color: #fff;
    background: linear-gradient(to right, #0061FE, #0061FE);
    font: 500 14px 'Monseratt';
    line-height: 16px;
    border-radius: 6px;
    transition: 0.5s;
    margin: 0 40px 0 0;
}
.auth__order-btn:hover{
    background: linear-gradient(to right, #0061FE, #0038C9);
}
.auth__order-btn:active{
    transform: scale(0.95);
    background: linear-gradient(to right, #0038C9, #0038C9);
}
.auth__order-btn.disabled{
    background: linear-gradient(to right, #CCDFFF, #CCDFFF);
    color: #fff;
}
.auth__order-btn.disabled:hover{
    background: linear-gradient(to right, #CCDFFF, #CCDFFF);
    color: #fff;
}
.auth__sign-btn svg{
    width: 25px;
    transition: 0.8s;
}
.auth__sign-btn svg:hover .auth__sign-btn-one{
    stop-color: #0061FE;
}
.auth__sign-btn svg:hover .auth__sign-btn-two{
    stop-color: #0038C9;
}
.auth__sign-btn svg:active .auth__sign-btn-one{
    stop-color: #0038C9;
}
.auth__sign-btn svg:active .auth__sign-btn-two{
    stop-color: #0038C9;
}
.dictionary{
    padding: 40px 165px 216px 165px;
}
.dictionary__title{
    font: 700 16px 'Monseratt';
    line-height: 16px;
    color: #172D4E;
    margin: 0 0 53px 0;
}
.dictionary__block{
    max-width: 700px;
}
.dictionary__search{
    margin: 0 0 50px 0;
}
.dictionary__search input{
    border: 0;
    border-bottom: 1px solid #CCDFFF;
    background: url(../img/dictionary/search-default.svg) no-repeat 95%;
    line-height: 38px;
    background-position: left;
    padding-left: 25px;
    font-family: 'Monseratt';
    font-size: 14px;
    width: 100%;
    max-width: 350px;
    transition: all 0.3s;
}
.dictionary__search input::placeholder{
    font: 400 14px 'Monseratt';
}
.dictionary__search > .dictionary__search--active{
    border-bottom: 1px solid #0061FF;
    background: url(../img/dictionary/search-active.svg) no-repeat 95%;
    background-position: right;
    padding-left: 0;
    padding-right: 25px;
}
.dictionary__content{
    max-width: 730px;
}
.dictionary__list{
    display: flex;
    flex-wrap: wrap;
}
.dictionary__list-item{
    font: 400 14px 'Monseratt';
    color: #4675AC;
    margin: 0 5px 0 5px;
    padding: 2%;
    margin: 1%;
    border: 1px solid #CCDFFF;
    border-radius: 8px;
    transition: all 0.5s;
    background: linear-gradient(to right, #fff, #fff);
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}
.dictionary__list-item:hover{
    background: linear-gradient(92.58deg, #0061FE 4.59%, #0038C9 90.68%);
    box-shadow: 0px 5px 7px rgba(0, 97, 254, 0.21);
    color: #fff;
}
.dictionary__list-item:active{
    border: 1px solid #0061FF;
    color: #fff;
    background: linear-gradient(to right, #0038C9, #0038C9);
}
.dictionary__list-item.active{
    border: 1px solid #0061FF;
    /*color: #0061FF;*/
    background-color: #fff;
}